/* Інше */

:root {
    --text-color:#000000;
    --logo:#2196F3;
    --nav-list-link:#212121;
    --contacts-list-link: #757575;
    --white:#FFFFFF;
    --addres-list-link:#FFFFFF99;
    --footer:#2F303A;
    --team:#F5F4FA;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* Якщо буде погано виглядати видалити container */
.container {
    width: 1200px;
    outline: solid red;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    padding-top: 24px;
    padding-bottom: 25px ;
}

.header .container{
    display: flex;
}

.header-nav{
    display: flex;
    margin-right:auto;
}

.header-logo {
color: var(--logo);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

.header-span {
color: var(--text-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.nav-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.contacts-link:hover,
.nav-link:hover {
    color: var(--logo);
}

.nav-link {
color: var(--nav-list-link);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-link {
color: var(--contacts-list-link);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-link:hover {
    color: var(--logo);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

/* секція герой */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--footer);
    text-align: center;
}

.hero-title {
color: var(--white);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto ;
}

.hero-btn {
color: var(--white);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
background-color: var(--logo);
padding: 10px 32px;
border-radius: 4px;
border: none;
}

/* секція фютчерс */
.features {
    padding-top: 94px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item::before {
    content: "";
    border-radius: 4px;
    background: #F5F4FA;
    width: 270px;
    height: 120px;
    display: block;
    background-image: url(../img/antenna.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    margin-bottom: 30px;
}

.features-item:nth-child(2)::before {
    background-image: url(../img/clock.jpg);
}

.features-item:nth-child(3)::before {
    background-image: url(../img/diagram.jpg);
}

.features-item:nth-child(4)::before {
    background-image: url(../img/astronaut.jpg);
}

.features-title {
    color: var(--nav-list-link);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}

.features-text {
    color: var(--contacts-list-link);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

/* секція-робота */

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-title {
    color: var(--nav-list-link);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.work-list {
    display: flex;
    gap: 30px;
}

/* секція команда */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--team);
}

.team-title {
color: var(--nav-list-link);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    background-color: var(--white);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

/* .team-img {
    
} */

.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-caption {
    color: var(--nav-list-link);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
margin-bottom: 10px;
}

.team-text {
color: var(--contacts-list-link);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
}

/* фоотер */

.footer {
    background-color: var(--footer);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--logo);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    }
    
    .logo-footer {
    color: var(--white);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    }

    .addres {
        margin-top: 20px;
        font-style: normal;
    }

.footer-addres {
color: var(--white);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
margin-bottom: 9px;
margin-top: 20px;
}

.addres-list {
    margin-top: 9px;
}

.addres-item {
    margin-bottom: 9px;
}

.addres-item:last-child {
    margin-bottom: 0px;
}

.addres-link {
color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.current {
    color: var(--logo);
}

/* портфоліо */

.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--logo);
    color: var(--white);
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--nav-list-link);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
}
.buttons-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 1200px;
    margin: 0 auto; */
    gap: 30px;
}

.services-item {
    /* width: 370px;
height: 404px;
flex-shrink: 0; */
flex-basis: calc((100% - 60px) / 3);
border: 1px solid #EEE;
background: #FFF;
}

.services-item:hover {
    border: 1px solid #EEE;
background: #FFF;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.services-img {
    display: block;
    width: 100%;
}

.services-box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.services-caption {
    color: var(--nav-list-link);
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
}

.services-text {
    color: var(--contacts-list-link);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.48px;
}