/* Інше */

:root {
    --text-color:#000000;
    --logo:#2196F3;
    --nav-list-link:#212121;
    --contacts-list-link: #757575;
    --white:#FFFFFF;
    --addres-list-link:#FFFFFF99;
    --footer:#2F303A;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    margin: 0;
}

/* Якщо буде погано виглядати видалити container */
.container {
    width: 1200px;
    outline: solid red;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    padding-top: 24px;
    padding-bottom: 25px ;
}

.header .container{
    display: flex;
}

.header-nav{
    display: flex;
    margin-right:auto;
}

.header-logo {
color: var(--logo);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

.header-span {
color: #000;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.nav-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.contacts-link:hover,
.nav-link:hover {
    color: #2196F3;
}

.nav-link {
color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.header-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-link {
color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

/* секція герой */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--footer);
    text-align: center;
}

.hero-title {
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto ;
}

.hero-btn {
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
background-color: var(--logo);
padding: 10px 32px;
}

/* секція фютчерс */
.features {
    padding-top: 94px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-title {
    color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}

.features-text {
    color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

/* секція-робота */

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-title {
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.work-list {
    display: flex;
    gap: 30px;
}

/* секція команда */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-title {
color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    background-color: #FFF;
}

.team-img {
    margin-bottom: 30px ;
}

.team-caption {
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin-bottom: 10px;
}

.team-text {
color: #757575;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
/* padding-bottom: 30px; */
}

/* фоотер */

.footer {
    background-color: var(--footer);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--logo);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    }
    
    .logo-footer {
    color: var(--white);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    }

    .addres {
        margin-top: 20px;
    }

.footer-addres {
color: var(--white);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin-bottom: 9px;
margin-top: 20px;
}

.addres-list {
    margin-top: 9px;
}

.addres-item {
    margin-bottom: 9px;
}

.addres-item:last-child {
    margin-bottom: 0px;
}

.addres-link {
color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

.current {
    color: #2196F3;
}

/* портфоліо */

.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.btn:hover {
    cursor: pointer;
    background-color: #2196F3;
    color: #FFFFFF;
}

.btn {
    border: none;
    border-radius: 8px;
    padding: 6px 22px;
}
.buttons-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 34px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.services-item {
    width: 370px;
height: 404px;
flex-shrink: 0;
border: 1px solid #EEE;
background: #FFF;
}

.services-img {
    margin-bottom: 20px ;
}

.services-caption {
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
    width: 322px;
    margin-left: 24px;
}

.services-text {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
    width: 322px;
    margin-left: 24px;
}