.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 1200px;
    margin: 0 auto; */
    gap: 30px;

    @media screen and (max-width: 480px) {
display: block;
    }

    @media screen and (max-width: 768px) {
        display: flex;
  flex-wrap: wrap;
  flex-direction: column;
align-content: center;
    }

    @media screen and (max-width: 1200px){
       
    }
}