:root {
    --text-color:#000000;
    --logo:#2196F3;
    --nav-list-link:#212121;
    --contacts-list-link: #757575;
    --white:#FFFFFF;
    --addres-list-link:#FFFFFF99;
    --footer:#2F303A;
    --team:#F5F4FA;
    --media:#AFB1B8;
    --line:#ECECEC;
}